<div class="slider rs-slider load">
  <div class="tp-banner-container">
    <div class="rev_slider tp-banner">
      <ul>
        <li data-delay="7000" data-transition="slidehorizontal" data-masterspeed="1000">
          <div class="elements">
            <h2 class="tp-caption title"
                data-x="15"
                data-y="240"
                data-voffset="170"
                data-start="700"
                data-transform_in="x:left;s:1000;e:Power4.easeOut"
                data-transform_out="x:left;s:400;e:Power1.easeIn">
              <b>FULLY</b><br>
              <b>VPS</b><br>
              <b>FEATURE</b><br>
            </h2>
            <div class="tp-caption"
                 data-x="500"
                 data-y="20"
                 data-start="450"
                 data-transform_in="y:bottom;s:1000;e:Power4.easeOut"
                 data-transform_out="y:bottom;s:500;e:Power1.easeIn"
                 style="z-index: 3">
              <img class="replace-2x" src="content/img/slide-4.jpg" width="" height="" alt="">
            </div>
          </div>

          <img class="replace-2x" src="content/img/slider/rs-slider4-bg.jpg" alt="" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat">
        </li>

        <li data-delay="7000" data-transition="slidehorizontal" data-masterspeed="1000">
          <div class="elements">
            <h2 class="tp-caption title"
                data-x="15"
                data-y="240"
                data-start="700"
                data-transform_in="x:left;s:1000;e:Power4.easeOut"
                data-transform_out="x:left;s:400;e:Power1.easeIn">
              REGISTER<br>
              <b>YOUR DOMAIN</b><br>
            </h2>
            <div class="tp-caption"
                 data-x="500"
                 data-y="20"
                 data-start="450"
                 data-transform_in="y:bottom;s:1000;e:Power4.easeOut"
                 data-transform_out="y:bottom;s:500;e:Power1.easeIn"
                 style="z-index: 3">
              <img class="replace-2x" src="content/img/slide-4.jpg" width="" height="" alt="">
            </div>

          <img class="replace-2x" src="content/img/slider/rs-slider4-bg.jpg" alt="" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat">
        </li>

        <li data-delay="7000" data-transition="slidehorizontal" data-masterspeed="1000">
          <div class="elements">
            <h2 class="tp-caption title text-center"
                data-x="center"
                data-y="268"
                data-start="700"
                data-transform_in="y:top;s:1000;e:Power4.easeOut"
                data-transform_out="y:top;s:400;e:Power1.easeIn">
              CLOUD<br>
              <b>HOSTING</b> &amp; <b>SERVER</b>
            </h2>
            <div class="tp-caption"
                 data-x="500"
                 data-y="20"
                 data-start="450"
                 data-transform_in="y:bottom;s:1000;e:Power4.easeOut"
                 data-transform_out="y:bottom;s:500;e:Power1.easeIn"
                 style="z-index: 3">
            </div>

          <img class="replace-2x" src="content/img/slider/rs-slider4-bg.jpg" alt="" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat">
        </li>

        <li data-delay="7000" data-transition="slidehorizontal" data-masterspeed="1000">
          <div class="elements right-box">
            <h2 class="tp-caption title text-right"
                data-x="right"
                data-hoffset="15"
                data-y="350"
                data-start="700"
                data-transform_in="x:right;s:1000;e:Power4.easeOut"
                data-transform_out="x:right;s:400;e:Power1.easeIn">
              24/7<br>
              <b>SUPPORT</b>
            </h2>
            <div class="tp-caption"
                 data-x="0"
                 data-y="20"
                 data-start="450"
                 data-transform_in="y:bottom;s:1000;e:Power4.easeOut"
                 data-transform_out="y:bottom;s:500;e:Power1.easeIn"
                 style="z-index: 3">
              <img class="replace-2x" src="content/img/slide-4.jpg" width="" height="" alt="">
            </div>

          <img class="replace-2x" src="content/img/slider/rs-slider4-bg.jpg" alt="" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat">
        </li>
      </ul>
    </div><!-- .tp-banner -->
  </div>
</div><!-- .rs-slider -->