@model HomeViewModels
<div class="slider progressive-slider progressive-slider-two cm-shop-2-slider load">
  <div class="container">
    <div class="row slider-wrapper">
      <div class="col-md-9 sliders-container">
        <div class="sliders-box">
          @foreach(var slideImg in Model.HomeSliderBox)
          {
              @Html.Raw(slideImg.Value)
          }
        </div><!-- .sliders-box -->
        <div class="pagination switches"></div>
      </div>
      <div class="col-md-3 slider-banners">
        @for (int i = 0; i < Model.HomeSliderBanner.Count; i++)
        {
            <a class="banner" href="@Model.HomeSliderLink[i].Value">
                @Html.Raw(Model.HomeSliderBanner[i].Value)
            </a>
        }
      </div><!-- .slider-banners -->
    </div>
  </div>
</div><!-- .progressive-slider -->