<div class="navbar navbar-default" role="navigation">
    <button type="button" class="navbar-toggle btn-navbar collapsed" data-toggle="collapse" data-target=".primary .navbar-collapse">
        <span class="text">Menu</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>

    <nav class="collapse collapsing navbar-collapse">
        <ul class="nav navbar-nav navbar-center">
            <li class="item-info item-bg">
                <a href="index.html">TATA HOSTING</a>
            </li>
            <li class="parent megamenu promo">
                <a href="#">VPS<span class="item-new">Hot</span></a>
                <ul class="sub">
                    <li class="sub-wrapper">
                        <div class="sub-list">
                            <div class="box closed">
                                <h6 class="title">Savant Apple Integration</h6>
                                <ul>
                                    <li><a href="#">iPad, iPod touch, iPhone &amp; Mac Control</a></li>
                                    <li><a href="#">iPod touch Remote Control</a></li>
                                    <li><a href="#">Savant Host (Mac Mini)<span class="item-new bg-warning">Wow</span></a></li>
                                </ul>
                            </div><!-- .box -->

                            <div class="box closed">
                                <h6 class="title">Savant Audio/Video Control</h6>
                                <ul>
                                    <li><a href="#">Distributed Audio &amp; Video</a></li>
                                    <li><a href="#">Matrix Switchers</a></li>
                                    <li><a href="#">Audio/Video Processing</a></li>
                                </ul>
                            </div><!-- .box -->

                            <div class="box closed">
                                <h6 class="title">Savant Display Solutions</h6>
                                <ul>
                                    <li><a href="#">Video Tiling<span class="item-new">New</span></a></li>
                                    <li><a href="#">On-Screen Display</a></li>
                                    <li><a href="#">Digital Messaging</a></li>
                                </ul>
                            </div><!-- .box -->

                            <div class="box closed">
                                <h6 class="title">Savant Sound</h6>
                                <ul>
                                    <li><a href="#">Distributed Audio Controller</a></li>
                                    <li><a href="#">Multi-channel Amplifiers<span class="item-new">New</span></a></li>
                                    <li><a href="#">Architectural Speakers</a></li>
                                </ul>
                            </div><!-- .box -->

                            <div class="box closed">
                                <h6 class="title">Savant Display Solutions</h6>
                                <ul>
                                    <li><a href="#">Video Tiling<span class="item-new bg-success">Coming Soon</span></a></li>
                                    <li><a href="#">On-Screen Display</a></li>
                                    <li><a href="#">Digital Messaging</a></li>
                                </ul>
                            </div><!-- .box -->

                            <div class="box closed">
                                <h6 class="title">Savant Sound</h6>
                                <ul>
                                    <li><a href="#">Distributed Audio Controller</a></li>
                                    <li><a href="#">Multi-channel Amplifiers</a></li>
                                    <li><a href="#">Architectural Speakers<span class="item-new">New</span></a></li>
                                </ul>
                            </div><!-- .box -->
                        </div><!-- .sub-list -->

                        <div class="promo-block text-right">
                            <a href="#">
                                <img src="content/img/megamenu-big.jpg" class="replace-2x" width="253" height="457" alt="">
                            </a>
                        </div><!-- .promo-block -->
                    </li>
                </ul><!-- .sub -->
            </li>
            <li class="parent megamenu promo">
                <a href="#">TÊN MIỀN</a>
                <ul class="sub">
                    <li class="sub-wrapper">
                        <div class="sub-list">
                            <div class="box">
                                <ul>
                                    <li><a href="elements-accordions.html"><i class="fa fa-plus-square"></i> Accordions &amp; Toggles</a></li>
                                    <li><a href="elements-animations.html"><i class="fa fa-money"></i> Animations</a></li>
                                    <li><a href="elements-buttons.html"><i class="fa fa-twitter"></i> Buttons &amp; Social Icons</a></li>
                                    <li><a href="elements-carousel.html"><i class="fa fa-arrows-h"></i> Carousels &amp; Sliders</a></li>
                                    <li><a href="elements-charts.html"><i class="fa fa-bar-chart-o"></i> Charts</a></li>
                                    <li><a href="elements-container.html"><i class="fa fa-archive"></i> Container</a></li>
                                    <li><a href="elements-content-band.html"><i class="fa fa-road"></i> Content Band</a></li>
                                    <li><a href="elements-dividers.html"><i class="fa fa-ellipsis-h"></i> Dividers &amp; Gaps</a></li>
                                    <li><a href="elements-featured-box.html"><i class="fa fa-star"></i> Featured Box</a></li>
                                    <li><a href="elements-icons.html"><i class="fa fa-rocket"></i> Font Awesome Icons</a></li>
                                    <li><a href="elements-frames.html"><i class="fa fa-square-o"></i> Frames</a></li>
                                    <li><a href="elements-maps.html"><i class="fa fa-map-marker"></i> Google Maps</a></li>
                                    <li><a href="elements-livicons.html"><i class="livicon block" data-n="rocket" data-s="16" data-c="#1e1e1e" data-hc="0"></i> LivIcons</a></li>
                                    <li><a href="elements-media.html"><i class="fa fa-video-camera"></i> Media</a></li>
                                    <li><a href="elements-notification.html"><i class="fa fa-info-circle"></i> Notification</a></li>
                                </ul>
                            </div><!-- .box -->
                            <div class="box">
                                <ul>
                                    <li><a href="elements-person.html"><i class="fa fa-user"></i> Person</a></li>
                                    <li><a href="elements-post-sliders.html"><i class="fa fa-th-list"></i> Posts Sliders</a></li>
                                    <li><a href="elements-pricing.html"><i class="fa fa-list-alt"></i> Pricing and Data Tables</a></li>
                                    <li><a href="elements-progress-bar.html"><i class="fa fa-tasks"></i> Progress Bars</a></li>
                                    <li><a href="elements-promo-panel.html"><i class="fa fa-tasks"></i> Promo Panel</a></li>
                                    <li><a href="elements-recent-posts.html"><i class="fa fa-flash"></i> Recent Posts</a></li>
                                    <li><a href="elements-shop.html"><i class="fa fa-shopping-cart"></i> Shop Elements</a></li>
                                    <li><a href="elements-sequence.html"><i class="fa fa-sort-numeric-asc"></i> Sequence</a></li>
                                    <li><a href="elements-social-feed.html"><i class="fa fa-users"></i> Social Feed</a></li>
                                    <li><a href="elements-tabs.html"><i class="fa fa-folder-open"></i> Tabs</a></li>
                                    <li><a href="elements-testimonials.html"><i class="fa fa-comment"></i> Testimonials</a></li>
                                    <li><a href="elements-text-rotation.html"><i class="fa fa-rotate-right"></i> Text Rotation</a></li>
                                    <li><a href="elements-time-line.html"><i class="fa fa-clock-o"></i> Timeline</a></li>
                                    <li><a href="elements-works.html"><i class="fa fa-picture-o"></i> Works</a></li>
                                </ul>
                            </div><!-- .box -->
                        </div><!-- .sub-list -->

                        <div class="promo-block bg">
                            <img class="replace-2x" src="content/img/menu-elements.png" width="240" height="434" alt="">
                        </div><!-- .promo-block -->
                    </li>
                </ul>
            </li>
            <li class="item-info item-bg">
                <a href="index.html">ĐỐI TÁC</a>
            </li>
            <li class="item-info item-bg">
                <a href="index.html">HỖ TRỢ</a>
            </li>
            <li class="item-info item-bg">
                <a href="index.html">KHUYẾN MÃI</a>
            </li>
            <li class="item-info item-bg">
                <a href="index.html">GIỚI THIỆU</a>
            </li>
            <li class="item-info item-bg">
                <a href="index.html">LIÊN HỆ</a>
            </li>
        </ul>
    </nav>
</div>