@{
    ViewData["Title"] = "Error";
}
<div class="container">
  <div class="row">
    <div class="content col-sm-12 col-md-12">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="box-404 bg">
            <h1>404</h1>
            <h2>The page cannot be found.</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- .container -->
