@{
    ViewData["Title"] = "Gioi Thieu";
}

<header class="page-header">
  <div class="container">
    <h1 class="title">About Us</h1>
  </div>
</header>
<div class="container">
  <div class="row">
    <article class="content col-sm-12 col-md-12">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, quisquam, culpa, soluta hic aperiam porro ipsum nisi optio necessitatibus commodi dolorum sapiente voluptatem officiis similique maiores! Quaerat, quisquam quibusdam quam iure vel accusamus nisi velit est at et temporibus sunt delectus dolorem. Reprehenderit, possimus aperiam iste hic repudiandae tempora sit laborum ut velit id! Obcaecati at architecto in vitae porro.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, similique nostrum perspiciatis cumque deleniti eaque odio temporibus accusantium necessitatibus? Perferendis, pariatur, ea, laborum ullam sit enim non odio fugiat in quas minima explicabo esse distinctio blanditiis doloremque eum eius repudiandae voluptatem aspernatur accusantium praesentium doloribus ratione aliquam inventore laudantium maiores aperiam minus quisquam unde. At asperiores voluptatem qui molestiae libero.</p>
      <div class="row">
        <div class="clearfix"></div>
        <div class="bottom-padding col-sm-6 col-md-6">
          <div class="title-box">
            <h2 class="title">Who Is Infostyle</h2>
          </div>
          <div class="panel-group one-open" id="accordion">
            <div class="panel panel-default panel-bg active">
              <div class="panel-heading">
                <div class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                    Portfolio Pages
                  </a>
                </div>
              </div>
              <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis quas ullam pariatur earum dignissimos consequatur velit nemo libero?
                </div>
              </div>
            </div>

            <div class="panel panel-default panel-bg">
              <div class="panel-heading">
                <div class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                    Gallery Pages
                  </a>
                </div>
              </div>
              <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque natus quaerat voluptate? Asperiores hic dolore voluptate corporis obcaecati reiciendis sunt ipsam iste. Eligendi inventore voluptatibus quia saepe odit deserunt nam?
                </div>
              </div>
            </div>

            <div class="panel panel-default panel-bg">
              <div class="panel-heading">
                <div class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                    Styles Pages
                  </a>
                </div>
              </div>
              <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                  <img class="replace-2x alignleft" src="content/img/animations.png" width="100" height="62" alt="">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores ipsa esse obcaecati repudiandae veniam amet modi recusandae optio earum sequi accusantium culpa vitae iste sit commodi eaque voluptatem officia quam. Molestiae nobis quidem atque explicabo eum facilis libero porro in fugiat pariatur molestias maiores voluptates rerum ipsa architecto quae assumenda harum fuga modi accusantium nihil dolor consequatur totam commodi quam quas neque dolorem veritatis unde adipisci ad illo excepturi quia facere reprehenderit non alias cum minima labore quo repudiandae perferendis?
                </div>
              </div>
            </div>

            <div class="panel panel-default panel-bg">
              <div class="panel-heading">
                <div class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                    Shop Pages
                  </a>
                </div>
              </div>
              <div id="collapse4" class="panel-collapse collapse">
                <div class="panel-body">
                  <img class="replace-2x alignleft" src="content/img/animations.png" width="100" height="62" alt="">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores ipsa esse obcaecati repudiandae veniam amet modi recusandae optio earum sequi accusantium culpa vitae iste sit commodi eaque voluptatem officia quam. Molestiae nobis quidem atque explicabo eum facilis libero porro in fugiat pariatur molestias maiores voluptates rerum ipsa architecto quae assumenda harum fuga modi accusantium nihil dolor consequatur totam commodi quam quas neque dolorem veritatis unde adipisci ad illo excepturi quia facere reprehenderit non alias cum minima labore quo repudiandae perferendis?
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="bottom-padding col-sm-6 col-md-6">
          <div class="title-box">
            <h2 class="title">Our Crazy Skills</h2>
          </div>
          <div class="progress progress-striped active" data-appear-progress-animation="80%">
            <div class="progress-bar progress-bar-warning">Web Design 80%</div>
          </div>

          <div class="progress progress-striped" data-appear-progress-animation="70%">
            <div class="progress-bar progress-bar-danger">HTML/CSS 70%</div>
          </div>

          <div class="progress progress-striped hover" data-appear-progress-animation="40%">
            <div class="progress-bar progress-bar-success">Opencart 40%</div>
          </div>
          <div class="progress progress-striped active hover" data-appear-progress-animation="58%">
            <div class="progress-bar progress-bar-info">WordPress 58%</div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="carousel-box load overflow" data-autoplay-disable="true">
        <div class="title-box">
          <a class="next" href="#">
            <svg x="0" y="0" width="9px" height="16px" viewBox="0 0 9 16" enable-background="new 0 0 9 16" xml:space="preserve">
            <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#fcfcfc" points="1,0.001 0,1.001 7,8 0,14.999 1,15.999 9,8 "></polygon>
        </svg>
          </a>
          <a class="prev" href="#">
            <svg x="0" y="0" width="9px" height="16px" viewBox="0 0 9 16" enable-background="new 0 0 9 16" xml:space="preserve">
            <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#fcfcfc" points="8,15.999 9,14.999 2,8 9,1.001 8,0.001 0,8 "></polygon>
        </svg>
          </a>
          <h2 class="title">Our Happy Clients</h2>
        </div>

        <div class="clearfix"></div>

        <div class="row">
          <div class="carousel carousel-links">
            <div class="col-sm-3 col-md-2">
              <a href="#">
                <img class="replace-2x img-rounded" src="content/img/team-5.jpg" width="170" height="170" alt="">
              </a>
            </div>

            <div class="col-sm-3 col-md-2">
              <a href="#">
                <img class="replace-2x img-rounded" src="content/img/team-2.jpg" width="170" height="170" alt="">
              </a>
            </div>

            <div class="col-sm-3 col-md-2">
              <a href="#">
                <img class="replace-2x img-rounded" src="content/img/team-3.jpg" width="170" height="170" alt="">
              </a>
            </div>

            <div class="col-sm-3 col-md-2">
              <a href="#">
                <img class="replace-2x img-rounded" src="content/img/team-4.jpg" width="170" height="170" alt="">
              </a>
            </div>

            <div class="col-sm-3 col-md-2">
              <a href="#">
                <img class="replace-2x img-rounded" src="content/img/team-1.jpg" width="170" height="170" alt="">
              </a>
            </div>

            <div class="col-sm-3 col-md-2">
              <a href="#">
                <img class="replace-2x img-rounded" src="content/img/team-6.jpg" width="170" height="170" alt="">
              </a>
            </div>

            <div class="col-sm-3 col-md-2">
              <a href="#">
                <img class="replace-2x img-rounded" src="content/img/team-7.jpg" width="170" height="170" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </article><!-- .content -->
  </div>
</div><!-- .container -->
