@{
    ViewData["Title"] = "Giới thiệu";
}

<header class="page-header">
  <div class="container">
    <h1 class="title">TaTa Hosting</h1>
  </div>
</header>
<div class="container">
  <div class="row">
    <article class="content col-sm-12 col-md-12">
      <p>
        Lĩnh vực hoạt động
        TaTa là một công ty hoạt động trong nhiều lĩnh vực CNTT: trung tâm dữ liệu, nhà đăng ký tên miền Quốc tế và Việt Nam, cung cấp dịch vụ cho thuê máy chủ, đặt website, phát triển ứng dụng quản lý, cung cấp hạ tầng web, các giải pháp về phát triển website và ứng dụng trên nền web….
      </p>
      <div class="row">
        <div class="clearfix"></div>
        <div class="bottom-padding col-sm-6 col-md-6">
          <div class="title-box">
            <h2 class="title">Giới thiệu dịch vụ</h2>
          </div>
          <div class="panel-group one-open" id="accordion">
            <div class="panel panel-default panel-bg active">
              <div class="panel-heading">
                <div class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                    VPS (Virtual Private Server)
                  </a>
                </div>
              </div>
              <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis quas ullam pariatur earum dignissimos consequatur velit nemo libero?
                </div>
              </div>
            </div>

            <div class="panel panel-default panel-bg">
              <div class="panel-heading">
                <div class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                    Domain name
                  </a>
                </div>
              </div>
              <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque natus quaerat voluptate? Asperiores hic dolore voluptate corporis obcaecati reiciendis sunt ipsam iste. Eligendi inventore voluptatibus quia saepe odit deserunt nam?
                </div>
              </div>
            </div>

            <div class="panel panel-default panel-bg">
              <div class="panel-heading">
                <div class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                    Cloud Hosting
                  </a>
                </div>
              </div>
              <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                  <img class="replace-2x alignleft" src="content/img/animations.png" width="100" height="62" alt="">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores ipsa esse obcaecati repudiandae veniam amet modi recusandae optio earum sequi accusantium culpa vitae iste sit commodi eaque voluptatem officia quam. Molestiae nobis quidem atque explicabo eum facilis libero porro in fugiat pariatur molestias maiores voluptates rerum ipsa architecto quae assumenda harum fuga modi accusantium nihil dolor consequatur totam commodi quam quas neque dolorem veritatis unde adipisci ad illo excepturi quia facere reprehenderit non alias cum minima labore quo repudiandae perferendis?
                </div>
              </div>
            </div>

            <div class="panel panel-default panel-bg">
              <div class="panel-heading">
                <div class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                    Cloud Server
                  </a>
                </div>
              </div>
              <div id="collapse4" class="panel-collapse collapse">
                <div class="panel-body">
                  <img class="replace-2x alignleft" src="content/img/animations.png" width="100" height="62" alt="">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores ipsa esse obcaecati repudiandae veniam amet modi recusandae optio earum sequi accusantium culpa vitae iste sit commodi eaque voluptatem officia quam. Molestiae nobis quidem atque explicabo eum facilis libero porro in fugiat pariatur molestias maiores voluptates rerum ipsa architecto quae assumenda harum fuga modi accusantium nihil dolor consequatur totam commodi quam quas neque dolorem veritatis unde adipisci ad illo excepturi quia facere reprehenderit non alias cum minima labore quo repudiandae perferendis?
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="bottom-padding col-sm-6 col-md-6">
          <div class="title-box">
            <h2 class="title">Dịch vụ cung cấp</h2>
          </div>
          <div class="progress progress-striped active" data-appear-progress-animation="100%">
            <div class="progress-bar progress-bar-warning">VPS (Virtual Private Server)</div>
          </div>

          <div class="progress progress-striped" data-appear-progress-animation="80%">
            <div class="progress-bar progress-bar-danger">Domain Name Register</div>
          </div>

          <div class="progress progress-striped hover" data-appear-progress-animation="60%">
            <div class="progress-bar progress-bar-success">Cloud Hosting</div>
          </div>
          <div class="progress progress-striped active hover" data-appear-progress-animation="60%">
            <div class="progress-bar progress-bar-info">Cloud Server</div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="carousel-box load overflow" data-autoplay-disable="true">
        <div class="title-box">
          <a class="next" href="#">
            <svg x="0" y="0" width="9px" height="16px" viewBox="0 0 9 16" enable-background="new 0 0 9 16" xml:space="preserve">
            <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#fcfcfc" points="1,0.001 0,1.001 7,8 0,14.999 1,15.999 9,8 "></polygon>
        </svg>
          </a>
          <a class="prev" href="#">
            <svg x="0" y="0" width="9px" height="16px" viewBox="0 0 9 16" enable-background="new 0 0 9 16" xml:space="preserve">
            <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#fcfcfc" points="8,15.999 9,14.999 2,8 9,1.001 8,0.001 0,8 "></polygon>
        </svg>
          </a>
          <h2 class="title">Đối tác chiến lược</h2>
        </div>

        <div class="clearfix"></div>

        <div class="row">
          <div class="carousel carousel-links">
            <div class="col-sm-3 col-md-2">
              <a href="#">
                <img class="replace-2x img-rounded" src="~/images/icannnew-h.png" width="170" height="170" alt="">
              </a>
            </div>

            <div class="col-sm-3 col-md-2">
              <a href="#">
                <img class="replace-2x img-rounded" src="~/images/cpanel-h.png" width="170" height="170" alt="">
              </a>
            </div>

            <div class="col-sm-3 col-md-2">
              <a href="#">
                <img class="replace-2x img-rounded" src="~/images/parallels-h.png" width="170" height="170" alt="">
              </a>
            </div>

            <div class="col-sm-3 col-md-2">
              <a href="#">
                <img class="replace-2x img-rounded" src="~/images/ods-h.png" width="170" height="170" alt="">
              </a>
            </div>

            <div class="col-sm-3 col-md-2">
              <a href="#">
                <img class="replace-2x img-rounded" src="~/images/smartlink-h.png" width="170" height="170" alt="">
              </a>
            </div>

            <div class="col-sm-3 col-md-2">
              <a href="#">
                <img class="replace-2x img-rounded" src="~/images/cpanel-h.png" width="170" height="170" alt="">
              </a>
            </div>

            <div class="col-sm-3 col-md-2">
              <a href="#">
                <img class="replace-2x img-rounded" src="~/images/parallels-h.png" width="170" height="170" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </article><!-- .content -->
  </div>
</div><!-- .container -->
