@model dynamic

@{
  ViewBag.Title = "Cấu hình máy chủ";
  Layout = "_Layout";
}

<header class="page-header">
  <div class="container">
    <h1 class="title">Cấu hình máy chủ</h1>
  </div>
</header>

<div class="container">
  <div class="row">
    <article class="content col-sm-12 col-md-8">
      <div class="panel-group multi-collapse" id="accordion2">
        <div class="panel panel-default active">
          <div class="panel-heading">
            <div class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion2" href="#collapse21">
                Cài đặt phần mềm
              </a>
            </div>
          </div>
          <div id="collapse21" class="panel-collapse collapse in">
            <div class="panel-body">
              <div class="list-group">
                <a href="#" class="list-group-item">
                  <h5 class="list-group-item-heading">Windows 2008 R2 x64 <span class="pull-right"><strong class="text-primary">150,000</strong>/Tháng</span></h5>
                  <p class="list-group-item-text">
                    - Tên dịch vụ: Windows 2008 R2 x64
                    <br/>
                    - Hệ điều hành: Windows
                    <br />
                    - Gói quản trị: Không có
                  </p>
                </a>
                <a href="#" class="list-group-item">
                  <h5 class="list-group-item-heading">Windows 2008 R2 x64 <span class="pull-right"><strong class="text-primary">150,000</strong>/Tháng</span></h5>
                  <p class="list-group-item-text">
                    - Tên dịch vụ: Windows 2008 R2 x64
                    <br />
                    - Hệ điều hành: Windows
                    <br />
                    - Gói quản trị: Không có
                  </p>
                </a>
                <a href="#" class="list-group-item">
                  <h5 class="list-group-item-heading">Windows 2008 R2 x64 <span class="pull-right"><strong class="text-primary">150,000</strong>/Tháng</span></h5>
                  <p class="list-group-item-text">
                    - Tên dịch vụ: Windows 2008 R2 x64
                    <br />
                    - Hệ điều hành: Windows
                    <br />
                    - Gói quản trị: Không có
                  </p>
                </a>
                <a href="#" class="list-group-item">
                  <h5 class="list-group-item-heading">Windows 2008 R2 x64 <span class="pull-right"><strong class="text-primary">150,000</strong>/Tháng</span></h5>
                  <p class="list-group-item-text">
                    - Tên dịch vụ: Windows 2008 R2 x64
                    <br />
                    - Hệ điều hành: Windows
                    <br />
                    - Gói quản trị: Không có
                  </p>
                </a>
                <a href="#" class="list-group-item">
                  <h5 class="list-group-item-heading">Windows 2008 R2 x64 <span class="pull-right"><strong class="text-primary">150,000</strong>/Tháng</span></h5>
                  <p class="list-group-item-text">
                    - Tên dịch vụ: Windows 2008 R2 x64
                    <br />
                    - Hệ điều hành: Windows
                    <br />
                    - Gói quản trị: Không có
                  </p>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default active">
          <div class="panel-heading">
            <div class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion2" href="#collapse22">
                Dịch vụ quản trị
              </a>
            </div>
          </div>
          <div id="collapse22" class="panel-collapse collapse in">
            <div class="panel-body">
              <div class="list-group">
                <a href="#" class="list-group-item">
                  <h5 class="list-group-item-heading">Gói nâng cao <span class="pull-right"><strong class="text-primary">150,000</strong>/Tháng</span></h5>
                  <p class="list-group-item-text">Dùng cho: CentOS 6, CentOS 7, Windows 2008, Windows 2012.
                    <br/>Dịch vụ hỗ trợ : Cài đặt phần mềm quản trị (Plesk, cPanel, Direct Admin, VestaCP, Kloxo); Bảo mật; Vá lỗi; Sao lưu; Root Access</p>
                </a>
                <a href="#" class="list-group-item active">
                  <h5 class="list-group-item-heading">Gói nâng cao <span class="pull-right"><strong class="text-primary">150,000</strong>/Tháng</span></h5>
                  <p class="list-group-item-text">
                    Dùng cho: CentOS 6, CentOS 7, Windows 2008, Windows 2012.
                    <br />Dịch vụ hỗ trợ : Cài đặt phần mềm quản trị (Plesk, cPanel, Direct Admin, VestaCP, Kloxo); Bảo mật; Vá lỗi; Sao lưu; Root Access
                  </p>
                </a>
                <a href="#" class="list-group-item">
                  <h5 class="list-group-item-heading">Gói nâng cao <span class="pull-right"><strong class="text-primary">150,000</strong>/Tháng</span></h5>
                  <p class="list-group-item-text">
                    Dùng cho: CentOS 6, CentOS 7, Windows 2008, Windows 2012.
                    <br />Dịch vụ hỗ trợ : Cài đặt phần mềm quản trị (Plesk, cPanel, Direct Admin, VestaCP, Kloxo); Bảo mật; Vá lỗi; Sao lưu; Root Access
                  </p>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default active">
          <div class="panel-heading">
            <div class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion2" href="#collapse23">
                Dịch vụ cộng thêm
              </a>
            </div>
          </div>
          <div id="collapse23" class="panel-collapse collapse">
            <div class="panel-body bottom-padding-mini">
              <div class="slider-bar-header">
                <strong class="slider-bar-name">Ram</strong>
                <span class="pull-right"><strong class="text-primary slider-bar-lg-text">150,000</strong>/Tháng</span>
              </div>
              <div class="slider-bar">
                <input type="text"
                       name="ram"
                       data-provide="slider"
                       data-slider-ticks="[1, 2, 3, 4, 5]"
                       data-slider-ticks-labels='["1GB", "2GB", "3GB", "4GB", "5GB"]'
                       data-slider-min="1"
                       data-slider-max="5"
                       data-slider-step="1"
                       data-slider-value="2">
              </div>
              
              <div class="slider-bar-header">
                <strong class="slider-bar-name">Lưu trữ</strong>
                <span class="pull-right"><strong class="text-primary slider-bar-lg-text">450,000</strong>/Tháng</span>
              </div>
              <div class="slider-bar">
                <input type="text"
                       name="ram"
                       data-provide="slider"
                       data-slider-ticks="[0, 50, 100, 150, 200, 250]"
                       data-slider-ticks-labels='["0GB", "50GB", "100GB", "150GB", "200GB", "250GB"]'
                       data-slider-min="0"
                       data-slider-max="250"
                       data-slider-step="50"
                       data-slider-value="50">
              </div>
              
              <div class="slider-bar-header">
                <strong class="slider-bar-name">IP</strong>
                <span class="pull-right"><strong class="text-primary slider-bar-lg-text">150,000</strong>/Tháng</span>
              </div>
              <div class="slider-bar">
                <input type="text"
                       name="ram"
                       data-provide="slider"
                       data-slider-ticks="[1, 2, 3, 4, 5]"
                       data-slider-ticks-labels='["1IP", "2IP", "3IP", "4IP", "5IP"]'
                       data-slider-min="1"
                       data-slider-max="5"
                       data-slider-step="1"
                       data-slider-value="2">
              </div>
            </div>
          </div>
        </div>
      </div>
    </article><!-- .content -->
    <div id="car-bottom" class="col-sm-12 col-md-4">
      <div class="car-bottom-box bg total">
        <h5 class="text-left">Cloud S1 Window</h5>
        <p class="text-left">Cấu hình mua thêm</p>
        <table class="col-sm-12">
          <tbody>
            <tr>
              <td class="text-left">RAM</td>
              <td><span class="price">2GB</span></td>
            </tr>
            <tr>
              <td class="text-left">Lưu trữ</td>
              <td><span class="price">40GB</span></td>
            </tr>
            <tr>
              <td class="text-left">CPU</td>
              <td><span class="price">4 core</span></td>
            </tr>
            <tr>
              <td class="text-left">Gói quản trị</td>
              <td><span class="price">Nâng cao</span></td>
            </tr>
          </tbody>
        </table>
        <button class="btn btn-default">Cho vào giỏ</button>
      </div>
    </div>
  </div>
</div>
