@{
    ViewData["Title"] = "Đối tác";
}
<header class="page-header">
  <div class="container">
    <h1 class="title">Trở thành đối tác của TaTa</h1>
  </div>
</header>

<article class="content">
  <div class="container">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem velit quos hic corrupti quis laborum cumque quaerat voluptatibus voluptates ipsum? Nisi enim veniam velit aspernatur explicabo deserunt voluptates illum quam facere voluptas delectus consequuntur dolorum magni odit est provident sequi repellendus iusto assumenda neque quo laboriosam ratione quis consequatur eligendi quae corporis distinctio vel adipisci commodi quas fugit quisquam in.</p>

    <div class="title-box">
      <h2 class="title">Our best clients</h2>
    </div>

    <div class="row bottom-padding">
      <div class="col-xs-6 col-sm-3 col-md-2 text-center">
        <a href="#" class="client" data-toggle="tooltip" data-placement="top" title="Google">
          <img class="replace-2x" src="content/img/clients/google.png" width="170" height="103" alt="">
        </a>
      </div>

      <div class="col-xs-6 col-sm-3 col-md-2 text-center">
        <a href="#" class="client" data-toggle="tooltip" data-placement="top" title="Yahoo">
          <img class="replace-2x" src="content/img/clients/yahoo.png" width="170" height="103" alt="">
        </a>
      </div>

      <div class="col-xs-6 col-sm-3 col-md-2 text-center">
        <a href="#" class="client" data-toggle="tooltip" data-placement="top" title="Sony">
          <img class="replace-2x" src="content/img/clients/sony.png" width="170" height="103" alt="">
        </a>
      </div>

      <div class="col-xs-6 col-sm-3 col-md-2 text-center">
        <a href="#" class="client" data-toggle="tooltip" data-placement="top" title="Yelp">
          <img class="replace-2x" src="content/img/clients/yelp.png" width="170" height="103" alt="">
        </a>
      </div>

      <div class="col-xs-6 col-sm-3 col-md-2 text-center">
        <a href="#" class="client" data-toggle="tooltip" data-placement="top" title="Virgin">
          <img class="replace-2x" src="content/img/clients/virgin.png" width="170" height="103" alt="">
        </a>
      </div>

      <div class="col-xs-6 col-sm-3 col-md-2 text-center">
        <a href="#" class="client" data-toggle="tooltip" data-placement="top" title="Rolex">
          <img class="replace-2x" src="content/img/clients/rolex.png" width="170" height="103" alt="">
        </a>
      </div>

      <div class="col-xs-6 col-sm-3 col-md-2 text-center">
        <a href="#" class="client" data-toggle="tooltip" data-placement="top" title="Nike">
          <img class="replace-2x" src="content/img/clients/nike.png" width="170" height="103" alt="">
        </a>
      </div>

      <div class="col-xs-6 col-sm-3 col-md-2 text-center">
        <a href="#" class="client" data-toggle="tooltip" data-placement="top" title="Nickelodeon">
          <img class="replace-2x" src="content/img/clients/nickelodeon.png" width="170" height="103" alt="">
        </a>
      </div>

      <div class="col-xs-6 col-sm-3 col-md-2 text-center">
        <a href="#" class="client" data-toggle="tooltip" data-placement="top" title="Microsoft">
          <img class="replace-2x" src="content/img/clients/microsoft.png" width="170" height="103" alt="">
        </a>
      </div>

      <div class="col-xs-6 col-sm-3 col-md-2 text-center">
        <a href="#" class="client" data-toggle="tooltip" data-placement="top" title="Instagram">
          <img class="replace-2x" src="content/img/clients/instagram.png" width="170" height="103" alt="">
        </a>
      </div>

      <div class="col-xs-6 col-sm-3 col-md-2 text-center">
        <a href="#" class="client" data-toggle="tooltip" data-placement="top" title="Disney">
          <img class="replace-2x" src="content/img/clients/disney.png" width="170" height="103" alt="">
        </a>
      </div>

      <div class="col-xs-6 col-sm-3 col-md-2 text-center">
        <a href="#" class="client" data-toggle="tooltip" data-placement="top" title="Diesel">
          <img class="replace-2x" src="content/img/clients/diesel.png" width="170" height="103" alt="">
        </a>
      </div>

      <div class="col-xs-6 col-sm-3 col-md-2 text-center">
        <a href="#" class="client" data-toggle="tooltip" data-placement="top" title="Converse">
          <img class="replace-2x" src="content/img/clients/converse.png" width="170" height="103" alt="">
        </a>
      </div>

      <div class="col-xs-6 col-sm-3 col-md-2 text-center">
        <a href="#" class="client" data-toggle="tooltip" data-placement="top" title="Cartier">
          <img class="replace-2x" src="content/img/clients/cartier.png" width="170" height="103" alt="">
        </a>
      </div>

      <div class="col-xs-6 col-sm-3 col-md-2 text-center">
        <a href="#" class="client" data-toggle="tooltip" data-placement="top" title="Amazon">
          <img class="replace-2x" src="content/img/clients/amazon.png" width="170" height="103" alt="">
        </a>
      </div>

      <div class="col-xs-6 col-sm-3 col-md-2 text-center">
        <a href="#" class="client" data-toggle="tooltip" data-placement="top" title="Nike">
          <img class="replace-2x" src="content/img/clients/nike.png" width="170" height="103" alt="">
        </a>
      </div>

      <div class="col-xs-6 col-sm-3 col-md-2 text-center">
        <a href="#" class="client" data-toggle="tooltip" data-placement="top" title="Google">
          <img class="replace-2x" src="content/img/clients/google.png" width="170" height="103" alt="">
        </a>
      </div>

      <div class="col-xs-6 col-sm-3 col-md-2 text-center">
        <a href="#" class="client" data-toggle="tooltip" data-placement="top" title="Yelp">
          <img class="replace-2x" src="content/img/clients/yelp.png" width="170" height="103" alt="">
        </a>
      </div>
    </div>
  </div><!-- .container -->

  <div class="full-width-box bottom-padding">
    <div class="fwb-bg fwb-blur" data-blur-image="content/img/band-1.jpg" data-blur-amount="3">
      <div class="overlay"></div>
    </div>

    <div class="container">
      <div class="title-box text-center title-white">
        <h1 class="title">What clients say</h1>
      </div>

      <div class="respond-carousel">
        <div class="carousel-box load" data-carousel-pagination="true" data-carousel-one="true" data-carousel-nav="false" data-autoplay-disable="true">
          <div class="row">
            <div class="carousel">
              <div class="respond respond-blockquote border white col-sm-12 col-md-12">
                <div class="description border-white">
                  <blockquote>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis at sit iure accusamus repellendus ut minus explicabo delectus et culpa quisquam voluptatum dolorum. Repudiandae recusandae voluptatum autem odit eos blanditiis omnis laudantium cupiditate modi aliquid a aut quibusdam aspernatur voluptates ipsam officiis sint nemo delectus dicta veritatis assumenda accusamus eius.
                  </blockquote>
                </div>
                <div class="name">
                  <div class="icon">
                    <img class="replace-2x img-circle" src="content/img/avatar-1.jpg" alt="">
                  </div>

                  <strong>John Doe</strong>
                  <div>Designer, Infostyle</div>
                </div>
              </div>

              <div class="respond respond-blockquote border white col-sm-12 col-md-12">
                <div class="description border-white">
                  <blockquote>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil unde a cumque sequi omnis eligendi odio vero magnam veritatis aliquid ab nesciunt dignissimos distinctio earum est veniam impedit quod qui eveniet tempore nostrum maxime aliquam dolore voluptates tenetur repudiandae ut dolor debitis mollitia amet labore voluptatibus dolorum eius tempora.
                  </blockquote>
                </div>
                <div class="name">
                  <div class="icon">
                    <img class="replace-2x img-circle" src="content/img/avatar-2.jpg" alt="">
                  </div>

                  <strong>Derek Smitt</strong>
                  <div>Director, Infostyle</div>
                </div>
              </div>

              <div class="respond respond-blockquote border white col-sm-12 col-md-12">
                <div class="description border-white">
                  <blockquote>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi non magnam hic quos odio tenetur cumque enim provident repellat quibusdam vero velit accusantium fuga praesentium dolorum ullam quasi et quia dolore molestiae earum ipsum veniam eius sit nihil inventore necessitatibus dicta exercitationem ipsam voluptates. Ullam ipsa quo commodi.
                  </blockquote>
                </div>
                <div class="name">
                  <div class="icon">
                    <img class="replace-2x img-circle" src="content/img/avatar-1.jpg" alt="">
                  </div>

                  <strong>John Doe</strong>
                  <div>Designer, Infostyle</div>
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="pagination switches"></div>
        </div>
      </div>
    </div>
  </div><!-- .full-width-box -->

  <div class="container">
    <div class="carousel-box load overflow" data-autoplay-disable="true">
      <div class="title-box">
        <a class="next" href="#">
          <svg x="0" y="0" width="9px" height="16px" viewBox="0 0 9 16" enable-background="new 0 0 9 16" xml:space="preserve">
          <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#fcfcfc" points="1,0.001 0,1.001 7,8 0,14.999 1,15.999 9,8 "></polygon>
    </svg>
        </a>
        <a class="prev" href="#">
          <svg x="0" y="0" width="9px" height="16px" viewBox="0 0 9 16" enable-background="new 0 0 9 16" xml:space="preserve">
          <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#fcfcfc" points="8,15.999 9,14.999 2,8 9,1.001 8,0.001 0,8 "></polygon>
    </svg>
        </a>
        <h2 class="title">Another clients</h2>
      </div>

      <div class="clearfix"></div>

      <div class="row">
        <div class="carousel carousel-links">
          <div class="col-sm-3 col-md-2">
            <a href="#">
              <img class="replace-2x" src="content/img/team-5-170.jpg" class="img-rounded" width="170" height="170" alt="">
            </a>
          </div>

          <div class="col-sm-3 col-md-2">
            <a href="#">
              <img class="replace-2x" src="content/img/team-2-170.jpg" class="img-rounded" width="170" height="170" alt="">
            </a>
          </div>

          <div class="col-sm-3 col-md-2">
            <a href="#">
              <img class="replace-2x" src="content/img/team-3-170.jpg" class="img-rounded" width="170" height="170" alt="">
            </a>
          </div>

          <div class="col-sm-3 col-md-2">
            <a href="#">
              <img class="replace-2x" src="content/img/team-4-170.jpg" class="img-rounded" width="170" height="170" alt="">
            </a>
          </div>

          <div class="col-sm-3 col-md-2">
            <a href="#">
              <img class="replace-2x" src="content/img/team-1-170.jpg" class="img-rounded" width="170" height="170" alt="">
            </a>
          </div>

          <div class="col-sm-3 col-md-2">
            <a href="#">
              <img class="replace-2x" src="content/img/team-6-170.jpg" class="img-rounded" width="170" height="170" alt="">
            </a>
          </div>

          <div class="col-sm-3 col-md-2">
            <a href="#">
              <img class="replace-2x" src="content/img/team-7-170.jpg" class="img-rounded" width="170" height="170" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div><!-- .containet -->
</article><!-- .content -->
