@model PartnerViewModel

@{
    ViewData["Title"] = "Đối tác";
}
<header class="page-header">
  <div class="container">
    <h1 class="title">Trở thành đối tác của TaTa</h1>
  </div>
</header>

<article class="content">
  <div class="container">
    @Html.Raw(Model.PartnerExcert)
    <div class="title-box">
      <h2 class="title">Đối tác của chúng tôi</h2>
    </div>

    <div class="row bottom-padding">
        @foreach (var partner in Model.Partners)
        {
            <div class="col-xs-6 col-sm-3 col-md-2 text-center">
                @Html.Raw(partner.Value)
            </div>
        }
    </div>
  </div>
</article>