@model dynamic

@{
  ViewBag.Title = "Thanh toán";
  Layout = "_Layout";
}


<header class="page-header">
  <div class="container">
    <h1 class="title">Chọn hình thức thanh toán</h1>
  </div>
</header>

<div class="container">
  <div class="bottom-padding">
    <div class="row steps steps-apart">
      <div class="col-sm-3 col-md-3">
        <div class="step text-center border-error">
          <div class="step-wrapper">
            <span class="livicon" data-n="shopping-cart" data-s="62" data-c="#c10841" data-hc="#d70a49"></span>
            <div class="title-box text-center title-red">
              <h4 class="title">Kiểm tra giỏ hàng</h4>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-3 col-md-3">
        <div class="step text-center border-error text-error">
          <div class="step-wrapper">
            <span class="livicon" data-n="user" data-s="62" data-c="#c10841" data-hc="#d70a49"></span>
            <div class="title-box text-center title-red">
              <h4 class="title">Đăng nhập tài khoản</h4>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-3 col-md-3">
        <div class="step text-center border-info bg-info white">
          <div class="step-wrapper">
            <span class="livicon" data-n="credit-card" data-c="#fff" data-s="64" data-hc="#fff"></span>
            <div class="title-box text-center title-white">
              <h4 class="title">Thanh toán</h4>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-3 col-md-3">
        <div class="step text-center border-error text-error">
          <div class="step-wrapper">
            <span class="livicon" data-n="check" data-s="62" data-c="#c10841" data-hc="#d70a49"></span>
            <div class="title-box text-center title-red">
              <h4 class="title">Hoàn tất</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div id="car-bottom" class="col-sm-12 col-md-4">
      <div class="car-bottom-box bg total">
        <h5 class="text-left">Thông tin đăng ký</h5>
        <table class="col-sm-12">
          <tbody>
          <tr>
            <td class="text-left">Tên khách hàng</td>
            <td><span class="price text-error">Lê Cao Trí</span></td>
          </tr>
          <tr>
            <td class="text-left">Mã khách hàng</td>
            <td><span class="price">TTHODASJ12</span></td>
          </tr>
          <tr>
            <td class="text-left">Số điện thoại</td>
            <td><span class="price">0909090909</span></td>
          </tr>
          <tr>
            <td class="text-left">Email</td>
            <td><span class="price">troy@lee.net</span></td>
          </tr>
          </tbody>
        </table>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="col-sm-12 col-md-8">
      <div class="filter-box accordions-filter">
        <div class="btn-group filter-buttons filter-list">
          <div class="button-list">
            <a href="#" data-filter=".card" class="btn btn-border btn-primary"><i class="fa fa-credit-card"></i>&nbsp; Thanh toán qua thẻ</a>
            <a href="#" data-filter=".transfer" class="btn btn-border btn-warning"><i class="fa fa-external-link"></i>&nbsp; Chuyển khoản</a>
            <a href="#" data-filter=".building" class="btn btn-border btn-danger"><i class="fa fa-building-o"></i>&nbsp; Tại văn phòng</a>
            <a href="#" data-filter=".cod" class="btn btn-border btn-success"><i class="fa fa-money"></i>&nbsp; Thu tiền trực tiếp</a>
          </div>
          <div class="clearfix"></div>
        </div><!-- .filter-buttons -->

        <div class="panel-group filter-elements" id="accordion">
          <div class="panel panel-primary panel-bg card active">
            <div class="panel-heading">
              <div class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                  Thẻ ATM nội địa
                </a>
              </div>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
              <div class="panel-body">
                <p>Ultrices metus et dui dictum quis elementum augue imperdiet. Nunc a turpis nec elit porttitor varius. Cras non felis eget nibh eleifend rhoncus id sit amet nisi. Cras est mi, dapibus eu dictum quis, interdum in dui. Ut lacinia accumsan libero ac semper. Sed in turpis in massa mattis blandit eget vel sem. Nullam id erat sapien, ac faucibus est. Ut eu tortor rutrum erat pellentesque iaculis. Nunc porta convallis pharetra.</p>
                <p>Maecenas commodo tincidunt mauris, eleifend molestie lacus congue et. Vivamus egestas hendrerit massa, ac congue ligula sollicitudin quis. Morbi aliquam nibh eget nisi rhoncus pharetra. Integer nibh dui, vehicula non iaculis at, tempus ac enim. Cras congue, elit nec ornare egestas, magna nunc sollicitudin velit, nec lobortis erat urna vitae metus. Mauris convallis faucibus pellentesque. Proin faucibus hendrerit magna, in pharetra dui varius nec.</p>
                <p>Mauris scelerisque posuere egestas. Nullam ut diam felis, vel faucibus sapien. Duis quam libero, mollis vel egestas eget, tristique sit amet nisi. Duis luctus rutrum sagittis. Mauris auctor purus sit amet orci pharetra vitae rhoncus libero eleifend. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In vehicula lectus vitae nunc pretium placerat. Aenean a ante non nisi tristique luctus eu nec nunc. Aliquam lacinia elit at felis bibendum blandit. Nunc fringilla massa vel augue aliquam blandit. Phasellus eget lectus purus, non blandit enim. Etiam porta nibh nec enim pharetra et tempus mauris iaculis.</p>
                <ol>
                  <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                  <li>Mauris dictum tempor magna, sit amet venenatis elit sodales sagittis.</li>
                  <li>Pellentesque rhoncus arcu sed nisl vulputate ultrices.</li>
                  <li>In eget dolor nec tortor tempor blandit.</li>
                </ol>
              </div>
            </div>
          </div>

          <div class="panel panel-primary panel-bg card active">
            <div class="panel-heading">
              <div class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                  Thẻ thanh toán quốc tế
                </a>
              </div>
            </div>
            <div id="collapse2" class="panel-collapse collapse in">
              <div class="panel-body">
                <p>Ultrices metus et dui dictum quis elementum augue imperdiet. Nunc a turpis nec elit porttitor varius. Cras non felis eget nibh eleifend rhoncus id sit amet nisi. Cras est mi, dapibus eu dictum quis, interdum in dui. Ut lacinia accumsan libero ac semper. Sed in turpis in massa mattis blandit eget vel sem. Nullam id erat sapien, ac faucibus est. Ut eu tortor rutrum erat pellentesque iaculis. Nunc porta convallis pharetra.</p>
                <p>Maecenas commodo tincidunt mauris, eleifend molestie lacus congue et. Vivamus egestas hendrerit massa, ac congue ligula sollicitudin quis. Morbi aliquam nibh eget nisi rhoncus pharetra. Integer nibh dui, vehicula non iaculis at, tempus ac enim. Cras congue, elit nec ornare egestas, magna nunc sollicitudin velit, nec lobortis erat urna vitae metus. Mauris convallis faucibus pellentesque. Proin faucibus hendrerit magna, in pharetra dui varius nec.</p>
                <p>Mauris scelerisque posuere egestas. Nullam ut diam felis, vel faucibus sapien. Duis quam libero, mollis vel egestas eget, tristique sit amet nisi. Duis luctus rutrum sagittis. Mauris auctor purus sit amet orci pharetra vitae rhoncus libero eleifend. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In vehicula lectus vitae nunc pretium placerat. Aenean a ante non nisi tristique luctus eu nec nunc. Aliquam lacinia elit at felis bibendum blandit. Nunc fringilla massa vel augue aliquam blandit. Phasellus eget lectus purus, non blandit enim. Etiam porta nibh nec enim pharetra et tempus mauris iaculis.</p>
                <ol>
                  <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                  <li>Mauris dictum tempor magna, sit amet venenatis elit sodales sagittis.</li>
                  <li>Pellentesque rhoncus arcu sed nisl vulputate ultrices.</li>
                  <li>In eget dolor nec tortor tempor blandit.</li>
                </ol>
              </div>
            </div>
          </div>

          <div class="panel panel-warning panel-bg transfer">
            <div class="panel-heading">
              <div class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                  Chuyển khoản
                </a>
              </div>
            </div>
            <div id="collapse3" class="panel-collapse collapse in">
              <div class="panel-body">
                <p>Ultrices metus et dui dictum quis elementum augue imperdiet. Nunc a turpis nec elit porttitor varius. Cras non felis eget nibh eleifend rhoncus id sit amet nisi. Cras est mi, dapibus eu dictum quis, interdum in dui. Ut lacinia accumsan libero ac semper. Sed in turpis in massa mattis blandit eget vel sem. Nullam id erat sapien, ac faucibus est. Ut eu tortor rutrum erat pellentesque iaculis. Nunc porta convallis pharetra.</p>
                <p>Maecenas commodo tincidunt mauris, eleifend molestie lacus congue et. Vivamus egestas hendrerit massa, ac congue ligula sollicitudin quis. Morbi aliquam nibh eget nisi rhoncus pharetra. Integer nibh dui, vehicula non iaculis at, tempus ac enim. Cras congue, elit nec ornare egestas, magna nunc sollicitudin velit, nec lobortis erat urna vitae metus. Mauris convallis faucibus pellentesque. Proin faucibus hendrerit magna, in pharetra dui varius nec.</p>
                <p>Mauris scelerisque posuere egestas. Nullam ut diam felis, vel faucibus sapien. Duis quam libero, mollis vel egestas eget, tristique sit amet nisi. Duis luctus rutrum sagittis. Mauris auctor purus sit amet orci pharetra vitae rhoncus libero eleifend. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In vehicula lectus vitae nunc pretium placerat. Aenean a ante non nisi tristique luctus eu nec nunc. Aliquam lacinia elit at felis bibendum blandit. Nunc fringilla massa vel augue aliquam blandit. Phasellus eget lectus purus, non blandit enim. Etiam porta nibh nec enim pharetra et tempus mauris iaculis.</p>
                <ol>
                  <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                  <li>Mauris dictum tempor magna, sit amet venenatis elit sodales sagittis.</li>
                  <li>Pellentesque rhoncus arcu sed nisl vulputate ultrices.</li>
                  <li>In eget dolor nec tortor tempor blandit.</li>
                </ol>
              </div>
            </div>
          </div>

          <div class="panel panel-danger panel-bg building">
            <div class="panel-heading">
              <div class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                  Thanh toán tại văn phòng
                </a>
              </div>
            </div>
            <div id="collapse4" class="panel-collapse collapse in">
              <div class="panel-body">
                <p>Ultrices metus et dui dictum quis elementum augue imperdiet. Nunc a turpis nec elit porttitor varius. Cras non felis eget nibh eleifend rhoncus id sit amet nisi. Cras est mi, dapibus eu dictum quis, interdum in dui. Ut lacinia accumsan libero ac semper. Sed in turpis in massa mattis blandit eget vel sem. Nullam id erat sapien, ac faucibus est. Ut eu tortor rutrum erat pellentesque iaculis. Nunc porta convallis pharetra.</p>
                <p>Maecenas commodo tincidunt mauris, eleifend molestie lacus congue et. Vivamus egestas hendrerit massa, ac congue ligula sollicitudin quis. Morbi aliquam nibh eget nisi rhoncus pharetra. Integer nibh dui, vehicula non iaculis at, tempus ac enim. Cras congue, elit nec ornare egestas, magna nunc sollicitudin velit, nec lobortis erat urna vitae metus. Mauris convallis faucibus pellentesque. Proin faucibus hendrerit magna, in pharetra dui varius nec.</p>
                <p>Mauris scelerisque posuere egestas. Nullam ut diam felis, vel faucibus sapien. Duis quam libero, mollis vel egestas eget, tristique sit amet nisi. Duis luctus rutrum sagittis. Mauris auctor purus sit amet orci pharetra vitae rhoncus libero eleifend. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In vehicula lectus vitae nunc pretium placerat. Aenean a ante non nisi tristique luctus eu nec nunc. Aliquam lacinia elit at felis bibendum blandit. Nunc fringilla massa vel augue aliquam blandit. Phasellus eget lectus purus, non blandit enim. Etiam porta nibh nec enim pharetra et tempus mauris iaculis.</p>
                <ol>
                  <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                  <li>Mauris dictum tempor magna, sit amet venenatis elit sodales sagittis.</li>
                  <li>Pellentesque rhoncus arcu sed nisl vulputate ultrices.</li>
                  <li>In eget dolor nec tortor tempor blandit.</li>
                </ol>
              </div>
            </div>
          </div>

          <div class="panel panel-success panel-bg cod">
            <div class="panel-heading">
              <div class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                  Thu tiền tận nơi
                </a>
              </div>
            </div>
            <div id="collapse5" class="panel-collapse collapse in">
              <div class="panel-body">
                <p>Ultrices metus et dui dictum quis elementum augue imperdiet. Nunc a turpis nec elit porttitor varius. Cras non felis eget nibh eleifend rhoncus id sit amet nisi. Cras est mi, dapibus eu dictum quis, interdum in dui. Ut lacinia accumsan libero ac semper. Sed in turpis in massa mattis blandit eget vel sem. Nullam id erat sapien, ac faucibus est. Ut eu tortor rutrum erat pellentesque iaculis. Nunc porta convallis pharetra.</p>
                <p>Maecenas commodo tincidunt mauris, eleifend molestie lacus congue et. Vivamus egestas hendrerit massa, ac congue ligula sollicitudin quis. Morbi aliquam nibh eget nisi rhoncus pharetra. Integer nibh dui, vehicula non iaculis at, tempus ac enim. Cras congue, elit nec ornare egestas, magna nunc sollicitudin velit, nec lobortis erat urna vitae metus. Mauris convallis faucibus pellentesque. Proin faucibus hendrerit magna, in pharetra dui varius nec.</p>
                <p>Mauris scelerisque posuere egestas. Nullam ut diam felis, vel faucibus sapien. Duis quam libero, mollis vel egestas eget, tristique sit amet nisi. Duis luctus rutrum sagittis. Mauris auctor purus sit amet orci pharetra vitae rhoncus libero eleifend. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In vehicula lectus vitae nunc pretium placerat. Aenean a ante non nisi tristique luctus eu nec nunc. Aliquam lacinia elit at felis bibendum blandit. Nunc fringilla massa vel augue aliquam blandit. Phasellus eget lectus purus, non blandit enim. Etiam porta nibh nec enim pharetra et tempus mauris iaculis.</p>
                <ol>
                  <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                  <li>Mauris dictum tempor magna, sit amet venenatis elit sodales sagittis.</li>
                  <li>Pellentesque rhoncus arcu sed nisl vulputate ultrices.</li>
                  <li>In eget dolor nec tortor tempor blandit.</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
