@{
    ViewData["Title"] = "Chương trình khuyến mãi";
}
<header class="page-header">
  <div class="container">
    <h1 class="title">Khuyến mãi</h1>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="content portfolio portfolio2 col-sm-12 col-md-12">
      <div class="row">
        <div class="col-sm-12 col-md-8">
          <div class="btn-group filter-buttons filter-list">
            <button type="button" class="dropdown-toggle" data-toggle="dropdown">
              All works <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#" data-filter="*" class="active">Tất cả</a></li>
              <li><a href="#" data-filter=".web-design">VPS</a></li>
              <li><a href="#" data-filter=".graphic-design">Domain</a></li>
              <li><a href="#" data-filter=".ecommerce">Hosting</a></li>
            </ul>
            <div class="clearfix"></div>
          </div><!-- .filter-buttons -->
        </div>

        <div class="col-sm-6 col-md-4 year-regulator">
          <div class="label">Year:</div>
          <div class="layout-slider">
            <input id="filter" type="slider" name="year" value="2000;2015" class="form-control">
          </div>
        </div><!-- .price-regulator -->
      </div>

      <div class="clearfix"></div>
      <div class="row filter-elements">
        <div class="web-design col-xs-12 col-sm-6 col-md-6">
          <a href="portfolio-single.html" class="work">
            <img class="replace-2x" src="content/img/portfolio-1.jpg" width="370" height="270" alt="">
            <span class="shadow"></span>
            <div class="bg-hover"></div>
            <div class="work-title">
              <h3 class="title">Morbi non lacus ac sapien molestie</h3>
              <div class="description">Web design</div>
            </div>
          </a>
        </div>

        <div class="graphic-design col-xs-12 col-sm-6 col-md-6">
          <a href="portfolio-single.html" class="work">
            <img class="replace-2x" src="content/img/portfolio-2.jpg" width="370" height="270" alt="">
            <span class="shadow"></span>
            <div class="bg-hover"></div>
            <div class="work-title">
              <h3 class="title">Sed at turpis tortor bibendum </h3>
              <div class="description">Web design</div>
            </div>
          </a>
        </div>

        <div class="graphic-design col-xs-12 col-sm-6 col-md-6">
          <a href="portfolio-single.html" class="work">
            <img class="replace-2x" src="content/img/portfolio-3.jpg" width="370" height="270" alt="">
            <span class="shadow"></span>
            <div class="bg-hover"></div>
            <div class="work-title">
              <h3 class="title">Mauris quis sapien mass</h3>
              <div class="description">Web design</div>
            </div>
          </a>
        </div>

        <div class="web-design col-xs-12 col-sm-6 col-md-6">
          <a href="portfolio-single.html" class="work">
            <img class="replace-2x" src="content/img/portfolio-4.jpg" width="370" height="270" alt="">
            <span class="shadow"></span>
            <div class="bg-hover"></div>
            <div class="work-title">
              <h3 class="title">Donec pulvinar pulvinar arcu</h3>
              <div class="description">Other</div>
            </div>
          </a>
        </div>

        <div class="ecommerce col-xs-12 col-sm-6 col-md-6">
          <a href="portfolio-single.html" class="work">
            <img class="replace-2x" src="content/img/portfolio-5.jpg" width="370" height="270" alt="">
            <span class="shadow"></span>
            <div class="bg-hover"></div>
            <div class="work-title">
              <h3 class="title">Proin faucibus pretium</h3>
              <div class="description">Web design</div>
            </div>
          </a>
        </div>

        <div class="ecommerce col-xs-12 col-sm-6 col-md-6">
          <a href="portfolio-single.html" class="work">
            <img class="replace-2x" src="content/img/portfolio-6.jpg" width="370" height="270" alt="">
            <span class="shadow"></span>
            <div class="bg-hover"></div>
            <div class="work-title">
              <h3 class="title">Pellentesque in dui mauris</h3>
              <div class="description">Other</div>
            </div>
          </a>
        </div>

        <div class="graphic-design col-xs-12 col-sm-6 col-md-6">
          <a href="portfolio-single.html" class="work">
            <img class="replace-2x" src="content/img/portfolio-7.jpg" width="370" height="270" alt="">
            <span class="shadow"></span>
            <div class="bg-hover"></div>
            <div class="work-title">
              <h3 class="title">Vivamus auctor metus porta</h3>
              <div class="description">Web design</div>
            </div>
          </a>
        </div>

        <div class="web-design col-xs-12 col-sm-6 col-md-6">
          <a href="portfolio-single.html" class="work">
            <img class="replace-2x" src="content/img/portfolio-8.jpg" width="370" height="270" alt="">
            <span class="shadow"></span>
            <div class="bg-hover"></div>
            <div class="work-title">
              <h3 class="title">Quisque nec lorem vel metus ultrices</h3>
              <div class="description">Web design</div>
            </div>
          </a>
        </div>
      </div>
    </div><!-- .content -->
  </div>
</div><!-- .container -->