@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Quên mật khẩu";
}

<header class="page-header">
    <div class="container">
        <h1 class="title">Lấy lại mật khẩu qua email</h1>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="content col-sm-12 col-md-12 col-sm-offset-2 col-md-offset-3">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <form class="form-box forgot-form form-validator">
                        <p>Vui lòng nhập email của bạn. Bạn sẽ nhận được link thay đổi password qua email.</p>
                        <div class="form-group">
                            <label asp-for="Email">Email: <span class="required">*</span></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="buttons-box clearfix">
                            <button type="submit" class="btn btn-default">Gửi</button>
                            <a href="@Url.Action("Login", "Account", null)" class="btn btn-border btn-inverse">
                                <i class="fa fa-long-arrow-left"></i> Trở lại trang đăng nhập
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}