.check-list .options {
    list-style: none;
    margin-bottom: 22px;
    padding: 0;
}

.check-list .options li {
    line-height: 30px;
    font-size: 20px;
}

.check-list .options li span {
    margin-right: 10px;
}
