@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Đổi mật khẩu";
}
<header class="page-header">
    <div class="container">
        <h1 class="title">@ViewData["Title"]</h1>
    </div>
</header>
<div class="container">
    <div class="row">
        <article class="col-sm-9 col-md-9 content">
            <div class="my-account margin-top">
                <form asp-controller="Manage" asp-action="ChangePassword" method="post" class="form-validator">
                    <div class="row">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="col-sm-12 col-md-12">

                            <ul class="list-unstyled">
                                <li>
                                    <div class="form-group">
                                        <label asp-for="OldPassword"></label>
                                        <input asp-for="OldPassword" class="form-control" />
                                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="NewPassword"></label>
                                        <input asp-for="NewPassword" class="form-control" />
                                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-group">
                                        <label asp-for="ConfirmPassword"></label>
                                        <input asp-for="ConfirmPassword" class="form-control" />
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="buttons-box clearfix">
                        <button class="btn btn-default">Cập nhập</button>
                    </div>
                </form>
            </div>
        </article><!-- .content -->

        <div id="sidebar" class="sidebar col-sm-3 col-md-3">
            <aside class="widget menu">
                <header>
                    <h3 class="title">Tài khoản</h3>
                </header>
                <nav>
                    <ul>
                        <li>
                            <a href="@Url.Action("Index", "Manage", null)"><i class="fa fa-gears item-icon"></i>Thông tin chung</a>
                        </li>
                        <li class="active">
                            <a href="@Url.Action("ChangePassword", "Manage", null)"><i class="fa fa-user item-icon"></i>Thông tin người dùng</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-shopping-cart item-icon"></i>Thông tin dịch vụ</a>
                        </li>
                    </ul>
                </nav>
            </aside><!-- .menu-->
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
